<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Compression.Base" version="27.1.53" targetFramework="net46" />
  <package id="Syncfusion.Data.WPF" version="27.1.53" targetFramework="net46" />
  <package id="Syncfusion.DataGridExcelExport.Wpf" version="27.1.53" targetFramework="net46" />
  <package id="Syncfusion.Licensing" version="27.1.53" targetFramework="net46" />
  <package id="Syncfusion.Pdf.Wpf" version="27.1.53" targetFramework="net46" />
  <package id="Syncfusion.SfGrid.WPF" version="27.1.53" targetFramework="net46" />
  <package id="Syncfusion.Shared.WPF" version="27.1.53" targetFramework="net46" />
  <package id="Syncfusion.XlsIO.Wpf" version="27.1.53" targetFramework="net46" />
</packages>